* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #f0f8ff;
  font-family: 'Georgia', sans-serif;
}

h1 { 
  text-align: center;
  color: #f0f0f0;
  text-shadow: 2px 2px 2px #261f29;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  background: #624c77;
  box-shadow: 0 0 25px #261f29;
}


textarea, button, select {
  margin: 8px 0;
  border: none;
  border-radius: 7px;
  padding: 0 8px;
  background-color: #f0f0f0;
  color: #261f29;
  font-size: 24px;
  font-family: 'Verdana', sans-serif;
  
}

textarea {
  resize: none;
  padding: 10px 14px;
}
button, select {
  height: 1.5em;
}

select {
  font-size: 18px;
}

label, button {
  font-family: 'Verdana', sans-serif;
  color: #f0f0f0;
}

button { 
  height: auto;
  background-color: rgb(185, 180, 194);
  /* border: 4px solid #f0f0f0; */
  padding: 12px;
  color: #261f29;
  /* text-shadow: 1px 1px 2px #261f29; */
  font-size: 2em;
}

button:hover {
  background-color: #b2d0e2;

}